.home {
  min-height: calc(100vh - 80px); /* below navbar */
  display: flex;
  align-items: center;
  background-color: #0f172a; /* page background */
}

.home-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: ; */
  align-items: center;
}

.home-left {
  display: flex;
  flex-direction: column;
  width: auto;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  color: #e5e7eb;
  line-height: 1.2;
}

.home-title span {
  color: #38bdf8;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.typed-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #38bdf8;
  margin-bottom: 15px;
  margin-top: 15px;
}

.home-description {
  font-size: 1rem;
  color: #cbd5e1;
  line-height: 1.6;
  margin-bottom: 15px;
}

.availability {
  font-weight: 500;
  color: #22c55e;
  margin-bottom: 20px;
}

.home-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.primary-btn {
  padding: 10px 22px;
  background: linear-gradient(90deg, #2563eb, #3b82f6);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.primary-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(59, 130, 246, 0.4);
}

.secondary-btn {
  padding: 10px 22px;
  border: 2px solid #3b82f6;
  color: #3b82f6;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.secondary-btn:hover {
  background: #3b82f6;
  color: white;
}

.social-links {
  display: flex;
  gap: 15px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.social-links a {
  color: white;
  transition: 0.3s ease;
}

.social-links a:hover {
  color: #38bdf8;
  transform: scale(1.2);
}

.home-tech {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.home-tech span {
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: #1a1f36;
  color: #9ca3af;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.85rem;
  transition: 0.3s ease;
  border: 1px solid #2563eb;
}

.home-tech span:hover {
  color: black;
  background: #60a5fa;
  transform: translateY(-6px);
}

.home-right {
    width: 100%;
    /* height: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
}

.profile-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(12px);
  /* background: rgba(255, 255, 255, 0.05); */
  background-color: rgba(2, 6, 23, 0.6);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  transition: 0.3s ease;
}

.profile-card:hover{
  border: 1px solid;
  border-color: #38bdf8;
}

.profile-card .profile-para {
  font-size: 1.5rem;
  font-weight: 600;
  color: #38bdf8;
}


.profile-card:hover {
  transform: translateY(-5px);
}

.profile-image {
  width: 80%;
  height: 90%;
  border-radius: 50%;
  margin: 0 auto 15px;  
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


/* Responsive */
@media (max-width: 900px) {
  .home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .home-left {
    max-width: 100%;
  }

  .home-actions {
    justify-content: center;
  }

  .home-tech {
    justify-content: center;
  }

  .social-links{
      justify-content: center;
  }
}

/* smooth entry animation */
.home-left {
  animation: slideLeft 2s ease forwards;
  opacity: 0;
}

.home-right {
  animation: slideRight 2s ease forwards;
  opacity: 0;
}

@keyframes slideLeft {
  from { transform: translateX(-60px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
  from { transform: translateX(60px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}


/* gradient name */
.gradient-text {
  background: linear-gradient(90deg, #38bdf8, #3b82f6, #2563eb);
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
  to {
    background-position: 200% center;
  }
}


