/* Header wrapper */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #020617;
  border-bottom: 5px solid #0f172a;
}

/* Navbar container */
.navbar {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* for tag */
.nav-logo{
  display:flex;
  flex-direction: column;
}
.portfolio-tag a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  text-align: center;
  animation: slideRight 1s ease forwards;
  color: #38bdf8;
}

.portfolio-tag:hover{
    text-shadow: 0 0 5px #38bdf8,
    0 0 25px #38bdf8, 0 0 50px #38bdf8,
    0 0 100px #38bdf8, 0 0 200px #38bdf8;
}


/* Links container */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
}

/* Individual links */
.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e5e7eb;
  transition: color 0.3s ease;
}


/* Hover effect */
.nav-links a:hover {
  color: #38bdf8;
}

@media (max-width: 900px) {
  .nav-links a {
    font-size: 1rem;
  }
}


@media (max-width: 830px) {
  /* hide navlinks */
    .nav-links {
        display: none;
    }   
    .nav-links {

      gap: 1rem;
    }
}

@media (min-width: 831px) {
  .menu-btn {
    display: none;
  }
}

/* menu button */
.menu-btn{
  color: white;
  background-color: #020617;
  font-size: 3rem;
  bottom: none;
}

.menu-btn:hover {
  color: #38bdf8;
  cursor: pointer;
}

@media (max-width: 830px) {
  /* hide links initially */
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;

    /* background-color: rgb(0, 98, 255); */
    background-color: #020617;
    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 24px;

    /* padding: 20px 0; */
    display: none;
    padding: 20px;
  }

  /* show when active */
  .nav-links.active {
    display: flex;
  }

  /* show menu button */
  .menu-btn {
    display: block;
    padding: auto;
  }

  .nav-links li:hover {
    border-radius: 5px;
    text-align: center;
    width: 99%;
    border: 1px solid #38bdf8;
  }

}



/* Navbar entry animation */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #020617;

  transform: translateY(-100%);
  animation: navbarSlide 1s ease forwards;
}

@keyframes navbarSlide {
  to {
    transform: translateY(0);
  }
}



/* menu button  */

.menu-btn {
  color: white;
  background-color: #020617;
  font-size: 2rem;
  font-weight: 800;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-btn.open {
  transform: rotate(90deg);
  color: #38bdf8;
}
