
.app-main{
  background-color: #0f172a;
  padding-top: 120px;
}
.section-icon {
  margin-right: 12px;
  font-size: 3rem;
  color: #38bdf8;
  vertical-align: top;
  transition: 0.3s ease;
  animation: floatIcon 3s ease-in-out infinite;
}

@media (max-width: 500px) {
  .section-heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px){
  html{
    font-size: 15px;
  }
}
